.cartClass {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.quantityClass {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCartClass {
    width: 10vh;
    height: 10vh;
}

.textCartClass {
    margin-top: 5vh;
    text-align: center;
}

.linkCart {
    margin-top: 10vh;
}

.no-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}