.item-count-container {
    display: inline-flex;
    margin: 1.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(208, 207, 207);
    /*width: 200px;*/
    height: 10vh;
}

.text-cantidad {
    margin: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.div-button {
    display: flex;
    align-items: flex-end;
}

.button-count {
    background-color: transparent;   
    height: 10vh;
    color: rgb(163, 166, 166);
    padding: 1rem 1.5rem;
    border: 1px solid rgb(208, 207, 207);
}

.button-count-disabled {
    background-color: transparent;
    height: 10vh;
    border-radius: 10px;
    color: azure;
    padding: 1rem 1.5rem;
    border: 0px;
}